/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  
}

h1 {
  font-size: 2em;
  color: #333;
}
